h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 20px;
  padding-bottom: 10px;
}

ul, label {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  clear: both;
}

ul {
  padding-top: 30px;
}

.btn-success {
  float:left;
}

.btn-primary {
  float: right;
}

#view1 {
  display: block;
  clear: both;
}

#view2 {
  display: none;
  clear: both;
}
